{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <label for="symbol">Select a share:</label>
            <select autofocus id="symbol" name="symbol" placeholder="Symbol" type="text">
                <option value="Symbol">Share</option>
                {% for i in options %}
                <option value={{i}}>{{i}}</option>
                {% endfor %}
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
