body {
  text-align: center;
}

#linkito {
	text-decoration: none;
	color: #18272F;
	font-weight: 700;
  position: relative;
}

#linkito::before {
  content: '';
  background-color: hsla(196, 61%, 58%, .75);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

#linkito:hover::before {
  bottom: 0;
  height: 100%;
}