.custom-btndel {
    font-size: 12px;
    padding: 1px 6px;
}
.custom-btnmin {
    font-size: 12px;
    padding: 1px 8px;
}
.custom-btnadd {
    font-size: 12px;
    padding: 1px 6px;
}
.custom-btnitemdel {
    font-size: 12px;
    padding: 1px 6px;
}
.custom-btnitemmod {
    font-size: 12px;
    padding: 1px 6px;
}
.custom-btnitemaccept {
    font-size: 12px;
    padding: 1px 6px;
}